# architecture
BR2_arm=y
BR2_arm926t=y

# system
BR2_TARGET_GENERIC_GETTY_PORT="ttyAMA0"

# kernel
BR2_LINUX_KERNEL=y
BR2_KERNEL_HEADERS_LATEST=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_9=y
BR2_LINUX_KERNEL_XZ=y
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="imx23-chumby"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/chumby/chumby.kernel.config"
BR2_LINUX_KERNEL_PATCH="board/chumby/0001-chumby-falconwing-1.00.patch"

BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_RALINK_RT61=y
BR2_PACKAGE_LINUX_FIRMWARE_RALINK_RT73=y
BR2_PACKAGE_LINUX_FIRMWARE_RALINK_RT2XX=y

# uboot
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2018.11"
#BR2_TARGET_UBOOT_PATCH="https://raw.githubusercontent.com/openhoon/chumbyhacks/master/uboot-2018.11-chumby.patch"
BR2_TARGET_UBOOT_PATCH="board/chumby/uboot-2018.11-chumby.patch"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="mx23_chumby"
